:root {
  /* Colors  */

  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-bg: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;

  /* Fonts  */
  --primary-font: Roboto, sans-serif;
  --secondary-font: Releway, sans-serif;

  /* Transition */

  --transition-standart: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Base styles */

body {
  font-family: var(--primary-font);
  font-size: 16px;
  color: var(--slate);
  background-color: var(--white);
}

/* reset start */

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Mobile Phone styles & > */
.container {
  min-width: 320px;
  max-width: 428px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 16px;
}

/* Tablet Phone styles & > */

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Desktop styles & > */

@media only screen and (min-widht: 1158px) {
  .container {
    max-width: 1158px;
  }
}

/* display none block  для кастамор*/

/* .container { width: 1158px; margin-right: auto; margin-left: auto; padding: 0 15px; } */

/* Header styles */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-cont {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: auto;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--iris);
}

.header-logo-second {
  font-family: "Raleway", sans-serif;
  color: var(--navy-blue);
}

@media only screen and (max-width: 767px) {
  .header-nav-adress,
  .header-contacts {
    display: none;
  }
}

.main-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-nav-list {
  display: flex;
  align-items: center;
}

.header-link {
  position: relative;

  display: block;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  padding: 24px 0;

  transition: color var(--transition-standart);
}

.header-link::after {
  content: "";
  position: absolute;
  top: 69px;
  left: 0px;

  display: block;
  width: 100%;
  height: 4px;

  border-radius: 2px;
}

.header-link.current {
  color: var(--ocean);
}

.header-link.current::after {
  background-color: var(--ocean);
}

.header-item {
  margin-right: 40px;
}

.header-item:last-child {
  margin-right: 0px;
}

.header-contacts {
  font-style: normal;
}

.header-nav-contacts-list {
  display: flex;
}

.header-contacts-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);

  transition: color var(--transition-standart);
}

.header-contacts-item {
  margin-right: 40px;
}

.header-contacts-item:last-child {
  margin-right: 0px;
}

.header-link:hover,
.header-link:focus,
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--ocean);
}

/* Hero styles */

.hero {
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;

  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--grey);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero_image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-bottom: 48px;
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
}

.hero-btn {
  display: block;
  padding-bottom: 16px;
  padding-top: 16px;
  padding-right: 32px;
  padding-left: 32px;
  border-radius: 4px;
  border: transparent;
  min-width: 169px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--white);
  background-color: var(--iris);
  cursor: pointer;

  transition: backgroud-color var(--transition-standart);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean);
}

/* Section 1 styles */

.about-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.about-list {
  display: flex;
}

.about-title-name {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--navy-blue);
}

.about-undertitle {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.about-item {
  margin-right: 24px;
  width: 264px;
}

.about-item:last-child {
  margin-right: 0px;
}

.about-icons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.about-icons-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-icons-images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;

  background: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

/* Section 2 styles */

.projects-section {
  padding-bottom: 120px;
}

.projects-list {
  display: flex;
  gap: 24px;
}

.projects-title {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;

  color: var(--navy-blue);
}

/* Section 3 styles */

.team-section {
  background-color: var(--cloud);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;

  color: var(--navy-blue);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: var(--white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-details {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-title-name {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;

  color: var(--navy-blue);
}
.team-undertitle {
  margin-bottom: 8px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/* Section 4 */

.customer-section {
  padding-bottom: 120px;
  padding-top: 120px;
}

.customer-title {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--navy-blue);
}

.customer-icons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 168px;
  height: 88px;

  border: 1px solid var(--light-slate);
  border-radius: 4px;

  color: var(--light-slate);

  transition: border var(--transition-standart),
    color var(--transition-standart);
}

.customers-link:hover,
.customers-link:focus {
  border: 1px solid var(--ocean);
  color: var(--ocean);
}

.customer-icon {
  fill: currentColor;
}

/* Icons */

.socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  background-color: var(--iris);
  border-radius: 50%;

  transition: backgroud-color var(--transition-standart);
}

.socials-icon {
  fill: var(--cloud);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--ocean);
}

/* Footer section */

.footer {
  background-color: var(--navy-blue-bg);
  padding-top: 100px;
  padding-bottom: 100px;

  position: relative;
}

.footer-cont {
  display: flex;
  align-items: baseline;
}

.footer-logo-cont {
  width: 264px;
  margin-right: 120px;
}

.footer-logo link {
  margin-top: 100px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.footer-logo-second {
  font-family: "Raleway", sans-serif;
  color: var(--cloud);
}

.footer-undertitle {
  color: var(--cloud);
  width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-socials {
  margin-right: 80px;
}

.footer-title {
  margin-bottom: 16px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}

.socials-footer-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.socials-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  background-color: var(--iris);
  border-radius: 50%;

  transition: background-color var(--transition-standart);
}

.socials-link-footer:hover,
.socials-link-footer:focus {
  background-color: var(--green);
}

.footer-form-input {
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;

  background-color: transparent;
  color: var(--white);

  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-form-input::placeholder {
  color: var(--white);
}

.footer-form-field {
  display: flex;
  gap: 24px;
}

.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  gap: 16px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--white);
  background-color: var(--iris);
  border-radius: 4px;
  border: none;

  cursor: pointer;

  transition: background-color var(--transition-standart);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--ocean);
}

.subscribe-icon {
  fill: var(--white);
}

/* Portfolio */

/* Section 1 */

.portfolio-cont {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}

.portfolio-btn {
  border-radius: 4px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  text-align: center;
  border: 1px solid var(--cornflower);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  color: var(--iris);
  background-color: var(--cloud);

  transition: box-shadow var(--transition-standart),
    color var(--transition-standart),
    background-color var(--transition-standart),
    border var(--transition-standart);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  color: var(--white);
  background-color: var(--ocean);
  border: 1px solid transparent;
}

.portfolio-details {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 16px;
  padding-left: 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.portfolio-title-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.portfolio-undertitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.portfolio-img-list {
  display: flex;
  flex-wrap: wrap;
  width: 1128px;
  column-gap: 24px;
  row-gap: 48px;
}

.portfoli-img-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-img-link {
  display: block;

  transition: box-shadow var(--transition-standart);
}

.portfolio-img-link:hover,
.portfolio-img-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-img-box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);

  padding-top: 40px;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 164px;

  background-color: var(--iris);

  transition: transform var(--transition-standart);
}

.portfolio-img-link:hover .overlay,
.portfolio-img-link:focus .overlay {
  transform: translateY(0%);
}

.portfolio-img-overlay {
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Modal styles */

.backdrop {
  position: fixed;

  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity var(--transition-standart),
    visibility var(--transition-standart);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0) scale(1);

  width: 408px;
  min-height: 584px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 24px;
  padding-top: 72px;

  background-color: var(--dairy);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 400ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotate(180deg) scale(0.2);
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;

  background-color: var(--cornflower);
  border-radius: 50%;
  border: none;

  cursor: pointer;

  transition: background-color var(--transition-standart),
    color var(--transition-standart);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--ocean);
  color: var(--white);
}

.modal-icon {
  fill: currentColor;
}

.modal-title {
  display: block;
  margin-bottom: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;

  color: var(--navy-blue);
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--slate);
}

.modal-form-field {
  position: relative;
  margin-bottom: 8px;
  font-size: 12px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  padding-right: 38px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: 2px transparent;
  outline-offset: -2px;

  transition: border-color var(--transition-standart);
}

.modal-form-input:focus {
  border-color: var(--iris);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 0px;

  fill: var(--navy-blue);

  transform: translateY(-50%) translateX(16px);

  transition: fill var(--transition-standart);

  pointer-events: none;
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--iris);
}

.modal-form-comment {
  display: block;
  width: 100%;
  height: 120px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 16px;

  resize: none;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: 2px transparent;
  outline-offset: -2px;

  transition: border-color var(--transition-standart);
}

.modal-form-comment:focus {
  border-color: var(--iris);
}

.modal-form-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-agreement {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
  justify-content: center;
}

.modal-form-agreement-box {
  appearance: none;
}

.modal-form-agreement-icon {
  position: absolute;
  top: 0;
  left: 0;
}

.modal-form-agreement-unchecked {
  opacity: 1;
  transition: var(--transition-standart);
}

input[type="checkbox"]:checked
  + .modal-form-agreement-icon
  > .modal-form-agreement-unchecked {
  opacity: 0;
}

.modal-form-agreement-checked {
  opacity: 0;
  transition: var(--transition-standart);
}

input[type="checkbox"]:checked
  + .modal-form-agreement-icon
  > .modal-form-agreement-checked {
  opacity: 1;
}

.modal-form-agreement-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: var(--light-slate);
}

.modal-form-agreement-link {
  color: var(--iris);
}

.send-btn {
  display: block;
  margin: 0 auto;

  width: 169px;
  height: 56px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--white);
  background: var(--iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  cursor: pointer;

  transition: backgroud-color var(--transition-standart);
}

.send-btn:hover,
.send-btn:focus {
  background-color: var(--ocean);
}

/* Mobile menu styles */

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #3f51b5;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
